@font-face {
  font-family: 'OfficinaSansITCPro Book';
  src: url("OfficinaSansITCPro-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OfficinaSansITCPro';
  src: url("OfficinaSansITCPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  line-height: 27px;
  font-family: 'OfficinaSansITCPro', 'OfficinaSansITCPro Book', sans-serif;
  margin: 0 auto;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 60px;
  line-height: 66px;
  font-weight: normal;
}

p {
  line-height: 27px;
}

a {
  text-decoration: none;
  color: #000000;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  border: 2px solid #00A6CC;
  border-radius: 4px;
  background-color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid transparent;
}

.header {
  width: 100%;
  margin: 0 auto;
}

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 99;
}

.header-container {
  margin: 0 auto;
  max-width: 1290px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 477px;
  width: 100%;
  font-weight: bold;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.header-list a:hover {
  color: #00A6CC;
}

.header-lang-wrapper {
  position: relative;
}

.header-language {
  position: absolute;
  background-image: url(../images/globe.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  top: -10px;
  padding: 5px 0 5px 25px;
  border: none;
  font-weight: bold;
}

.header-btn {
  background-image: url(../images/message.svg);
  background-repeat: no-repeat;
  padding: 10px 25px 10px 35px;
  background-position-y: center;
}

.header-btn:hover {
  background-image: url(../images/message-icon_white.svg);
}

.header-hero {
  background: url(../images/hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 220px 0 566px 0;
  color: #ffffff;
}

.header-hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
}

.header-hero-title {
  max-width: 368px;
}

.header-hero-title h1 {
  margin-bottom: 13px;
}

.header-hero-title p {
  font-size: 30px;
}

.header-hero-list {
  max-width: 620px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-hero-list-item1 {
  background-image: url(../images/key-icon.svg);
}

.header-hero-list-item2 {
  background-image: url(../images/calc-icon.svg);
}

.header-hero-list-item3 {
  background-image: url(../images/target-icon.svg);
}

.header-hero-list li {
  font-weight: 400;
  padding-top: 65px;
  max-width: 180px;
  background-repeat: no-repeat;
}

.header-hero-video-container {
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}

.header-hero-video-container:hover .header-hero-video-button {
  background-image: url(../images/play-button_blue.svg);
}

.header-hero-video-button {
  position: absolute;
  background-image: url(../images/play-icon.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 56px;
  left: 75px;
  top: 34px;
}

.header-hero-video a {
  color: #ffffff;
}
