* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  line-height: 27px;
  font-family: 'OfficinaSansITCPro', 'OfficinaSansITCPro Book', sans-serif;
  margin: 0 auto;
  background-color: $white-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 60px;
  line-height: 66px;
  font-weight: normal;
  font-family: 'OfficinaSansITCPro';
}
p {

  line-height: 27px;
}

a {
  text-decoration: none;
  color: $title-black;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  border: 2px solid $tukis-color;
  border-radius: 4px;
  background-color: $white-color;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  background-color: $title-black;
  color: $white-color;
  border: 2px solid transparent;

}
