@font-face {
    font-family: 'OfficinaSansITCPro Book';
    src: url('OfficinaSansITCPro-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OfficinaSansITCPro';
    src: url('OfficinaSansITCPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
