.hero {
  background: url(../images/hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 220px 0 566px 0;
  color: $white-color;
  margin-bottom: 120px;

  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    max-width: 368px;
  }
  &-title h1 {
    margin-bottom: 13px;
  }
  &-title p {
    font-size: 30px;
  }

  &-list {
    max-width: 620px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &-item1 {
      background-image: url(../images/key-icon.svg);
    }

    &-item2 {
      background-image: url(../images/calc-icon.svg);
    }

    &-item3 {
      background-image: url(../images/target-icon.svg);
    }
  }

  &-list li {
    font-weight: 400;
    padding-top: 65px;
    max-width: 180px;
    background-repeat: no-repeat;
  }

  &-video-container {
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
  }

  &-video-container:hover &-video-button {
    background-image: url(../images/play-button_blue.svg);
  }

  &-video-button {
    position: absolute;
    background-image: url(../images/play-icon.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 56px;
    left: 75px;
    top: 34px;
  }

  &-video a {
    color: $white-color;
  }
}
